/* =======================================================================
	Define
========================================================================== */
$LW = 1200px;
$MW = 960px;
$SW = 780px;

$color_accent = #d36823;

/* =======================================================================
	Mixin
========================================================================== */
