@charset "utf-8";

@import 'common/reset.css';
@import 'common/layout.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');


 /*--------------------------------------
	main
/*-------------------------------------*/


.main {
    height: calc(100vh - 220px); 
    margin-top: 220px;
    background-image: url("../img/main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: $SW) {  

    .main {
        height: calc(100vh - 22vw);
        margin-top: 22vw;
    }

}